<%= form_with model: [:admin, user], class: "mb-5" do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: "form-control #{user.errors[:name].present? ? 'is-invalid' : ''}" %>
        <% if user.errors[:name].present? %>
    	    <div class="invalid-feedback">
    	      <%= user.errors[:name].join(", ") %>
    	    </div>
        <% end %>
      </div>
    
      <div class="mb-3">
        <%= f.label :role, class: 'form-label' %>
        <%= f.select :role, User.roles.map { |k,v| k }, {}, class: "form-select #{user.errors[:role].present? ? 'is-invalid' : ''}" %>
        <% if user.errors[:role].present? %>
    	    <div class="invalid-feedback">
    	      <%= user.errors[:role].join(", ") %>
    	    </div>
        <% end %>
      </div>
    
      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: "form-control #{user.errors[:password].present? ? 'is-invalid' : ''}" %>
        <% if user.errors[:password].present? %>
    	    <div class="invalid-feedback">
    	      <%= user.errors[:password].join(", ") %>
    	    </div>
        <% end %>
      </div>
    
      <div class="mb-3">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: "form-control #{user.errors[:password_confirmation].present? ? 'is-invalid' : ''}" %>
        <% if user.errors[:password_confirmation].present? %>
    	    <div class="invalid-feedback">
    	      <%= user.errors[:password_confirmation].join(", ") %>
    	    </div>
        <% end %>
      </div>
    
      <%= link_to I18n.t('text.cancel'), admin_users_path, class: "btn btn-link text-danger" %>
      <%= f.submit class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>