<table class="table table-hover" data-controller="tablesort">
	<thead>
		<tr><% attributes_names.map do |name| %>
			<th><%%= <%= class_name.constantize %>.human_attribute_name("<%= name %>") %></th><% end %>
		</tr>
	</thead>
	<tbody>
		<%% <%= plural_table_name %>.map do |<%= singular_table_name %>| %>
			<tr><% attributes_names.map do |name| %>
				<td><%%= <%= singular_table_name %>.<%= name %> %></td><% end %>
			</tr>
		<%% end %>
	</tbody>
</table>